body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

header {
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    position: fixed;
    top: 0;
    width: 100%;
}

header a {
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
}

header a.nav-title {
    padding: 12px 16px;
    font-size: 28px;
    font-weight: bold;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header li {
    float: left;
}

header li a {
    padding: 18px 16px;
}

header li a.active {
    background-color: salmon;
}

header li a:hover {
    background-color: rgb(168, 84, 75);
}

#title {
    max-width: 1000px;
    width: 100%;
    margin: auto;
    padding: 64px 25px 0px 25px;
}

#logos {
	position: absolute;
	bottom: 0;
    width: 100%;
    padding: 25px 0px 48px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logos img {
    margin: 0px 20px;
}

footer {
    position: absolute;
	bottom: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color:#333333;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

footer p {
    font-size: 16px;
    color: white;
    margin: 0px 16px;
    padding: 0;
}